/* Style for the HTML element */
html {
  background-color: yellow;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 650px;
	margin: 0 auto;
	border: 5px double blue;
  padding: 10px;
	background-color: white;
}

/* Style for the main element */
main {
  padding: 20px;
  border-top: 3px solid blue;
}

/* Style for the footer */
footer {
  border-top: 3px solid blue;
  text-align: center; 
  font-size: 90%; 
  font-weight: bold; 
  margin: 20px;
  padding: 10px;
}

/* Styles for headings (h1, h2, h3) */
h1 {
  font-size: 150%; 
  color: blue; 
  margin: 10px 0; 

h2 {
  font-size: 125%;
  color: blue; 
  margin: 10px 0;
}

h3 {
  font-size: 115%; 
  color: blue; 
  margin: 10px 0; 


p, blockquote, ul, li {
  margin: 10px 0;
}


cite {
  color: blue; 
  font-style: normal; 
}


p.cite {
  text-align: right; 
  margin-bottom: 0.75em; 
}


img {
  float: left;
  margin: 0 15px 15px 0; 
}

